# Logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)
build
dist

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# npm 5 package-lock
package-lock.json

# env local
.env

# IDE configs
.idea/

globalConfig.json

.DS_Store
